
setl-sidebar {
    display: flex;

    width: 60px;
    
    color: hsl(var(--accent-hue), 100%, 50%);
    background-color: hsl(var(--accent-hue), 100%, 7%);

    flex-flow: column nowrap;
}

setl-sidebar-button {
    height: 40px;
    text-align: center;
}

setl-sidebar-button:hover {
    background-color: hsl(var(--accent-hue), 100%, 16%);
}

setl-sidebar-spacer {
    
}
