
setl-sidebar {
    display: flex;

    flex-flow: column nowrap;
    flex: 0 0 60px;
    
    color: hsl(var(--accent-hue), 100%, 50%);
    background-color: hsl(var(--accent-hue), 100%, 7%);
}

setl-sidebar-button {
    flex: 0 0 40px;

    text-align: center;
    align-content: center;
}

setl-sidebar-button:hover {
    background-color: hsl(var(--accent-hue), 100%, 16%);
}

setl-sidebar-spacer {
    flex: 1 1 auto;
}
