
setl-tool-body {
    display: flex;
    
    flex: 1 1 auto;
    
    color: hsl(var(--accent-hue), 100%, 50%);
    background-color: hsl(var(--accent-hue), 100%, 7%);

    border-bottom: solid 1px hsl(var(--accent-hue), 100%, 50%);
}
